.aside {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 638px;
    height: 1079px;
    background: url(../img/base-bg.png) center (center/cover) no-repeat;
    &__bg {
        display: block;
        width: 638px;
        height: 1079px;
        background: url(../img/business-card.png) center (center/cover) no-repeat,  url(../img/card-bg.png) center (center/cover) no-repeat;  
        transition: all 1s ease; 
        &:hover {           
            opacity: 0.1;            
        }     
    }    
}
