.portfolio {
    margin: 50px auto 0;
    padding-bottom: 165px;
    &__header {
        display: block;
        max-width: 40%;
        padding: 0;
        h1 {
        color: #000000;
        font-size: 43px;
        font-weight: 700;
        line-height: 70px;
        text-transform: uppercase;
        }
    }
    &__subheader {
        padding: 55px 0 0 0;
        max-width: 40%;        
        color: #999999;
        font-size: 13px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 1.04px;
    }
    &__gallery {
        padding: 48px 340px 0 0;
        display: flex;
        flex-wrap: wrap;
    }
    &__column-left {
        padding: 0;
        margin-right: 32px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    &__column-right {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    &__item {
        width: 360px;
        position: relative;
        margin-bottom: 32px;       
    }
    &__descr {
        position: absolute;
        width:360px;
        height: 100%;
        top:0;
        background: white;
        border: 1px solid $main_color;
        z-index: 2;
        opacity: 0;
        transition: all 0.5s ease-in;
        &:hover {
            opacity: 0.9;
        }
        span {
            font-size:23px;
            bottom: 100px;
            left:40px;
            position:absolute;
            text-transform:uppercase;
            color:$main_color;
            letter-spacing:1px;
            font-weight:900;
            line-height:50px;
        }
        p {
            font-size:13px;
            bottom:40px;
            left:40px;
            position:absolute;
            color:#686868;
            letter-spacing:1px;
            font-weight:400;
            line-height:18px;
        }
    }
    &__icons {
        display: flex;        
        justify-content: space-around;
        top:50px;
        left: 50%;
        position:absolute;
        a {
            display: block;
            width: 35px;
            margin: 0 20px;
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 10px;
            border-bottom: 1px solid $main_color;
            img {
                width: 100%;
            }
        }        
    }   
}
@media (max-width: 1200px) {
   .portfolio {
       &__header h1 {
           font-size: 36px;
           line-height: 46px;
       }
       &__subheader {
           padding-top: 20px;
       }
   }
}
@media (max-width: 991px) {
    .portfolio {
        padding-bottom: 15px;
        &__header {
            max-width: 60%;           
        }
        &__subheader {
            max-width: 60%;           
        }
    }    
}
@media (max-width: 767px) {
    .portfolio {
        &__header {
            max-width: 90%;
            margin: 0 auto;
            text-align: center;
            h1 {
                font-size: 24px;
                line-height: 32px;
            }
        }        
        &__subheader {
            max-width: 90%;
            margin: 0 auto;
        }
        &__gallery {
            padding: 48px 0 0 0; 
            justify-content: center;           
        }
        &__column-left {
            margin-right: 0;
        }
    }
    
}
@media (max-width: 575px) {
    .portfolio {
        &__item {
            width: 100%;
            img {
                width: 100%;
            }
        }
        &__descr {
            width: 100%;
        }
    }
    
}